<section class="flex mt-1_5 forum-container flex-col">
            <div class="info-item">
                <img src="./images/copo_stanley.JPG" class="img-forum" alt="">
            <h2 class="title-card title-rs text-xl">COPO STANLEY</h2>    
            <div class="questions-container">
                    <p class="p-card text-xs text-rs mt-1">Qual nome atras abaixo do item ?</p>
                    <p class="p-card text-xs text-rs mt-1">Qual a cor da rachadura acima do item ?</p>
                    <p class="p-card text-xs text-rs mt-1">Qual o nome atras abaixo do item ?</p>
                    <p class="p-card text-xs text-rs mt-1">Qual a cor da rachadura acima do item ?</p>
            </div>
            <form action="" class="flex flex-col">
                <textarea name="" class="input-textArea m-1 styles-input" placeholder="Ex: A) Nome Atlas, B)Cinza"></textarea>
                <input type="submit" class="bt-card" value="Enviar">
            </form>
            </div> 
            <div class="messages-container">
                <div class="message mt-1_5">
                    <p class="title-card text-xs text-rs-message">CODIGO: 1 - ÁLIFE SILVA DE MORAES - 27/06/2023 - 16:03</p>
                    <p class="p-card text-xs text-rs">A)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">B)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">C)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">D)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                </div>
                <div class="message mt-1_5">
                    <p class="title-card text-xs text-rs-message">CODIGO: 2 - JOÃO GABRIEL - 27/06/2023 - 16:03</p>
                    <p class="p-card text-xs text-rs">A)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">B)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">C)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">D)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                </div>
                <div class="message mt-1_5">
                    <p class="title-card text-xs text-rs-message">CODIGO: 3 - ANDRE WILLIAM - 27/06/2023 - 16:03</p>
                    <p class="p-card text-xs text-rs">A)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">B)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">C)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                    <p class="p-card text-xs text-rs">D)Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                </div>
            </div>
     </section>
    </main>
{{>partials/footer}}