 {{>partials/header}}
 <section class="cards flex">
            <p class='p-card mt-message center-text text-3xl'>{{message}}</p>
            {{#cardsContent}}
            <div class="card">
              <figure>
                  <img src="{{image}}">
              </figure>
              <h2 class="title-card text-xl">{{nameItem}}</h2>
              <p class="p-card text-xs">{{littleDescription}}</p>
              <a href="/forum{{id}}"><input class="bt-card" type="submit" value="É meu"></a>

            </div>
           {{/cardsContent}}
       </section>
    </main>

{{>partials/footer}}