{{>partials/header}}
 <section class="flex flex-col">
        <div class="container_messages_view mt-1_5 m-1 flex">
            <figure >
                <img src='./imgs_card/bbb.png' class='adjust_img_notify' />
            </figure>
            <div class=' flex-col'>
                <h2 class="title_res_notify text-xs">COPO STANLEY #3</h2>
                <p class='p_card_res_notify text-xs'>Carregador notebook encontrado no laboratorio 4 do campus 3, as 14h e 31 minutos</p>
            </div>
        </div>
                <div class="container_messages_view mt-1_5 m-1 flex">
            <figure >
                <img src='./imgs_card/unnamed.jpg' class='adjust_img_notify' />
            </figure>
            <div class=' flex-col'>
                <h2 class="title_res_notify text-xs">COPO STANLEY #3</h2>
                <p class='p_card_res_notify text-xs'>Carregador notebook encontrado no laboratorio 4 do campus 3, as 14h e 31 minutos</p>
            </div>
        </div>
                <div class="container_messages_view mt-1_5 m-1 flex">
            <figure >
                <img src='./imgs_card/carregador.jpg' class='adjust_img_notify' />
            </figure>
            <div class=' flex-col'>
                <h2 class="title_res_notify text-xs">COPO STANLEY #3</h2>
                <p class='p_card_res_notify text-xs'>Carregador notebook encontrado no laboratorio 4 do campus 3, as 14h e 31 minutos</p>
            </div>
        </div>
                <div class="container_messages_view mt-1_5 m-1 flex">
            <figure >
                <img src='./imgs_card/1317730.jpeg' class='adjust_img_notify' />
            </figure>
            <div class=' flex-col'>
                <h2 class="title_res_notify text-xs">COPO STANLEY #3</h2>
                <p class='p_card_res_notify text-xs'>Carregador notebook encontrado no laboratorio 4 do campus 3, as 14h e 31 minutos</p>
            </div>
        </div>
                <div class="container_messages_view mt-1_5 m-1 flex">
            <figure >
                <img src='./imgs_card/DSC_4204.jpg' class='adjust_img_notify' />
            </figure>
            <div class=' flex-col'>
                <h2 class="title_res_notify text-xs">COPO STANLEY #3</h2>
                <p class='p_card_res_notify text-xs'>Carregador notebook encontrado no laboratorio 4 do campus 3, as 14h e 31 minutos</p>
            </div>
        </div>
   </section>   
</main>
{{>partials/footer}}