{{>partials/header}}
 <section class="flex flex-col">
 {{#listItemsUser}}
        <a href='/myforum{{id}}'>
        <div class="container_messages_view mt-1_5 m-1 flex">
            <figure >
                <img src='{{image}}' class='adjust_img_notify' />
            </figure>
            <div class=' flex-col'>
                <h2 class="title_res_notify text-xs">{{nameItem}}</h2>
                <p class='p_card_res_notify text-xs'>{{littleDescription}}</p>
            </div>
        </div>
        </a>
{{/listItemsUser}}
   </section>   
</main>
{{>partials/footer}}