{{>partials/header}}
   <section class="flex flex-col">
        <p class='p-card  center-text mt-message text-3xl'>{{notMessages}}</p>
        {{#messageRefUser}}
        <div class="message mt-1_5 m-1">
            <h2 class="title-card text-xs">DE:#{{userSend}} - {{date}} - {{time}}</h2>
            <p class="p-card text-xs mt-1">{{meetingLocation}}</p>
        </div>
        {{/messageRefUser}}
   </section>
  </main>
{{>partials/footer}}