{{>partials/header}}
    <section class="flex mt-1_5 forum-container flex-col ">
       <h1 class="dra center-text title-form mt-message ">MENSAGEM ENVIADA COM SUCESSO</h1>      
    </section>
 </main>
{{>partials/footer}}