<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAP-HOME</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="icon" type="image/png" href="./images/search.png" sizes="57x57">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    
</head>
<body class="flex-col full-size">
    <main class="full-size-grow">
        <header class="on">
            <nav>
               <h1 class="title-home">SAP</h1>
               <div class="form-group fg--search">
                <form method='GET' action="filter-cards">
                  <input type="text" class="input-filter" name="filterSearch" placeholder="Informações sobre o achado">
                  <button type="submit"><img src="./images/Magnifying glass.png" class="fa fa-search"></i></button>
                </form>
                  
               </div>
               <div class="menu-toggle">
                 <div class="one"></div>
                 <div class="two"></div>
                 <div class="three"></div>
               </div>
               <div class="imgs-link">
                   <figure><a href="/home"><img src="./images/Home.png" alt="imagem casa" title='Página Principal'></a></figure>
                   <figure><a href="/list_items_user{{infoUser}}"><img src="./images/Layers.png" alt="imagem de lista" title='Meus Uploads'></a></figure>
                   <figure><a href="/upload"><img src="./images/Cloud computing.png" alt="imagem de nuvens" title='Enviar Item Perdido'></a></figure>
                   <figure><a href="/messages"><img src="./images/Envelope.png" alt="imagem de carta" title='Minhas Mensagens'></a></figure>
                   
                   
                   <figure>
                    <form action="/logout" method="post">
                      <button type="submit" style="">
                        <img src= "./images/exit.png" alt="imagem de nuvens" title='Sair'>
                      </button>
                    </form>
                  </figure>
               </div>
            </nav>
       </header>
       <section class="links-hidden">
          <form method='GET' action="filter-cards" class="form-input-search-hidden">
             <input type="text" name="filterSearch" class="input-search-hidden">
             <input type="submit" value="Pesquisar" class="submit-search-hidden">
          </form>
          <a href="/home">HOME</a>
          <a href="/list_items_user{{infoUser}}">ITEMS</a>
          <a href="/upload">UPLOAD</a>
          <a href="/messages">MENSAGENS</a>
           <form action="/logout" method="post">
                      <button type="submit" style="" class='sb-mob-logout'>
                          SAIR
                      </button>
            </form>
          
       </section>